<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Super Market an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
    <div>
        @RenderBody()
    </div>
    @RenderPage("~/Views/Shared/Header.cshtml")
    <!-- header -->   
    <!-- //header -->
    <!-- navigation -->
    <!-- //navigation -->
    <!-- main-slider -->
    <ul id="demo1">
        <li>
            <img src="~/images/banner-hoa.jpg" alt="" />
            <!--Slider Description example-->
            <div class="slide-desc">
                <h3 style="color: red; font-family:Arial, Helvetica, sans-serif">SHOP HOA TƯƠI VÀ UY TÍN</h3>
            </div>
        </li>
        <li>
            <img src="~/images/banner2-hoa.jpg" alt="" />
            <div class="slide-desc">
                <h3 style="color: red; font-family:Arial, Helvetica, sans-serif">GIAO HÀNG TÂN NƠI</h3>
            </div>
        </li>

        <li>
            <img src="~/images/banner-hoa3.jpg" alt="" />
            <div class="slide-desc">
                <h3 style="color: red; font-family:Arial, Helvetica, sans-serif">PHÙ HƠP VƠI YÊU CẦU KHÁCH HÀNG</h3>
            </div>
        </li>
    </ul>
    <!-- //main-slider -->
    <!-- //top-header and slider -->
    <!-- top-brands -->
    <div class="top-brands">
        @Html.Action("Hoaton","FlowerShop")

    </div>
    <!-- //top-brands -->
    <!-- Carousel
       ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="~/images/annie-spratt-113596-unsplash.jpg" alt="First slide">

            </div>
            <div class="item">
                <img class="second-slide " src="~/images/annie-spratt-141506-unsplash.jpg" alt="Second slide">

            </div>
            <div class="item">
                <img class="third-slide " src="~/images/ebi-zandi-522961-unsplash.jpg" alt="Third slide">

            </div>
        </div>

    </div><!-- /.carousel -->
    <!--banner-bottom-->
    <div class="ban-bottom-w3l">
        <div class="container">
            <div class="col-md-6 ban-bottom3">
                <div class="ban-top">
                    <img src="~/images/lizzie-474655-unsplash.jpg" class="img-responsive" alt="" />

                </div>
                <div class="ban-img">
                    <div class=" ban-bottom1">
                        <div class="ban-top">
                            <img src="~/images/lizzie-254528-unsplash.jpg" class="img-responsive" alt="" />

                        </div>
                    </div>
                    <div class="ban-bottom2">
                        <div class="ban-top">
                            <img src="~/images/roman-kraft-148702-unsplash.jpg" class="img-responsive" alt="" />

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 ban-bottom">
                <div class="ban-top">
                    <img src="~/images/taylor-hernandez-401934-unsplash.jpg" class="img-responsive" alt="" />


                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <!--banner-bottom-->
    <!--brands-->
    
    <!--//brands-->
    <!-- new -->
    
    <!-- //new -->
    <!-- //footer -->
        @RenderPage("~/Views/Shared/Footer.cshtml")
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- top-header and slider -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <script src="~/Scripts/minicart.min.js"></script>
    <script>
        // Mini Cart
        paypal.minicart.render({
            action: '#'
        });

        if (~window.location.search.indexOf('reset=true')) {
            paypal.minicart.reset();
        }
    </script>
    <!-- main slider-banner -->
    <script src="~/Scripts/skdslider.min.js"></script>
    <link href="~/Content/skdslider.css" rel="stylesheet">
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#demo1').skdslider({ 'delay': 5000, 'animationSpeed': 2000, 'showNextPrev': true, 'showPlayButton': true, 'autoSlide': true, 'animationType': 'fading' });

            jQuery('#responsive').change(function () {
                $('#responsive_wrapper').width(jQuery(this).val());
            });

        });
    </script>
    <!-- //main slider-banner -->
</body>
</html>