@model IEnumerable<FlowerShop.Models.CHUDE>

@{
    ViewBag.Title = "Chude";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chude</h2>

<p>
    @Html.ActionLink("Thêm mới chủ đề", "Themmoichude")
</p>
<table class="table">
    <tr>
        <th style="width:200px">  Tên Chủ Đề </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.TenChuDe)
            </td>
            <td>
                @*@Html.ActionLink("Sửa", "Suachude", new { id = item.MaCD }) |*@
                @Html.ActionLink("Xóa", "Xoachude", new { id = item.MaCD })
            </td>
        </tr>
    }

</table>
